
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    background-color: grey;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    width: 40px;
}

#num-boxes{
    display: grid;
    grid-template-columns: repeat(auto-fill, 40px);
    gap: 5px;
}